body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: flex;
}

aside {
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  width: 175px;
  height: 100vh;
  background-color: darkcyan;
}

aside ul {
  list-style: none;
  text-align: left;
  padding: 0;
}

aside li {
  padding: 20px;
}

aside li:hover {
  background: rgba(0, 0, 0, 0.1);
}

aside a {
  font-size: large;
}

aside a:link {
  color: white;
  text-decoration: none;
}

aside a:visited {
  color: white;
  text-decoration: none;
}

aside a:hover {
  color: white;
  text-decoration: none;
}

aside a:active {
  color: white;
  text-decoration: none;
}

aside li a:visited {
  color: white;
  text-decoration: none;
}

.article-container {
  flex: 75%;
  margin-left: 185px;
}

.article-container nav {
  position: fixed;
  top: 0;
  left: 175px;
  width: 100%;
  height: 45px;
  background-color: aqua;
  text-align: left;
}

.article-container nav button{
  height: 100%;
  background-color: aqua;
  padding: 0 25px;
  border: none;
  border-right: 1px solid ghostwhite;
}

.article-container nav button:hover {
  background-color: aquamarine;
}

.articles {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-bottom: 2px dashed black;
}

.articles img {
  margin: 60px 0 15px 0;
}

.articles article {
  margin: 10px 25px;
  text-align: left;
}
